*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    border-bottom: 1px solid black;
    background-color: #ffc017;
    display: flex;
    justify-content: space-between;
    padding: 16px 60px;
}
.logo{
    border: 3px solid #ffc017;
}
img{
    border: 2px solid #ffc017;
}
.nav-links{
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    gap:18px;
}
.nav-links a:link{
    text-decoration: none;
    color:black;
    

}
.nav-links a:last-child{
    border:2px solid black;
    background-color: black;
    color:white;
    border-radius: 4rem;
    padding: 5px;

}